/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add any global styles here */
body {
  @apply antialiased;
}

.dark {
  background-color: #1a202c; /* Dark background */
  color: white;
}

.light {
  background-color: white;
  color: black;
}
